.home-container {
  width: 100%;
  background: var(--bg);
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 35px 0px;
}

body[data-theme="dark"] .home-title {
  color: #e1cb31;
}
