.logo {
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 25px 0;
  background-color: #253841;
  height: 100%;
}

.theme-btn {
  position: absolute;
  right: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 25px;
  font-size: 40px;
}

.theme-icon {
  color: #fff;
}

[data-theme="dark"] .theme-icon {
  color: #222;
}

[data-theme="dark"] .navbar {
  background-color: #fff;
}

@media (max-width: 500px) {
  .logo {
    width: 120px;
  }

  .navbar {
    padding: 16px 0;
  }

  .theme-btn {
    margin-top: 12px;
    font-size: 24px;
  }
}
