.pagination {
  text-align: center;
  padding: 20px 0 0 0;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.pagination > p {
  padding-left: 0px;
  font-size: 16px;
  text-align: left;
}

.pagination > button {
  margin: 0px 20px 20px 20px;
  font-size: 30px;
  text-decoration: none;
  text-decoration: none;
  background: none;
  transition: all 0.2s;
  color: #2ecc71;
}

.pagination > button:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #2ecc71;
}
.pagination > button.active-page {
  color: #aaa6a6;
  border-radius: 6px;
  font-weight: bold;
}

body[data-theme="dark"] .pagination > button {
  color: #e1cb31;
}

body[data-theme="dark"] .pagination > button.active-page {
  color: #aaa6a6;
}

@media (max-width: 500px) {
  .pagination {
    text-align: center;
    margin: 40px 0;
    width: 95%;
    margin: auto;
  }

  .pagination > p {
    font-size: 14px;
  }

  .pagination > button {
    margin: 20px 20px;
    font-size: 22px;
  }
}
