.route-nav {
  background-color: #253841;
}

.route-nav > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: none;
  border-bottom: 1px solid rgb(134, 134, 134);
  background-color: #fff;
}

.route-nav .route-link {
  transition: all 0.5s;
  color: #253841;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.route-nav .route-link:hover {
  background-color: #e1cb31;
}

[data-theme="dark"] .route-nav {
  background-color: #fff;
}

[data-theme="dark"] .route-nav > div {
  background-color: #253841;
}

body[data-theme="dark"] .route-link {
  color: #fff;
}
